@import url("../../vars.css");

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.text{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 60px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 14px;
}

.history {    
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between;     
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;
    max-width: 45%;
}

.historyItemDetails{
    font-family: var(--font--roboto);
    text-align: center;
    
}

.historyItemDetails h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.historyItemDetails img {
    width: 40%;
    opacity: 0.7;
}

.historyItemDetails p {
    font-size: 20px;
    font-weight: 300;
}

.historyItemDetails ul {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    list-style: none;
    text-align: left;
    align-items: center;
    gap: 15px;
    /* list-style-position: inside; */
    font-size: 18px;
    /* list-style-type: disc; */
    margin-left: 17px;
}

.historyItemDetails ul li{
    margin-bottom: 12px; 
    width: 60%;
}

.historyItemDetails ul span{
    font-size: smaller;
    background-color: #f03800;
    border-radius: 5px;
    padding: 5px;
}

.servicesContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.serviceText{
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;
    width: 40%;
}

.serviceItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    padding: 10px;
}

.serviceItem p {
    font-size: 18px;
}


@media screen and (max-width: 830px){
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .history {
        flex-direction: column;
        width: 100%;
         gap: 34px;
    }

    .historyItem {
        flex-direction: column;
        max-width: 100%;
    }

    .historyItemDetails h3 {
        text-align: center;
    }

    .servicesContent{
        flex-direction: column;
    }

    .serviceText{
        width: 100%;
    }

}